[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hacktools = {extras = ["armips", "graphics", "psp", "xdelta"], version = "*"}

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3"
